designs/pages/settings/manageUsers.json
[
    {
        "id": "sd_VSkmwzz0p1aIJBgp",
        "type": "tab",
        "createdDate": "2022-03-08T12:20:26.402Z",
        "label": "manageUsers",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_IE8Xcn5cqae6ILN8",
        "type": "OnInit",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_IE8Xcn5cqae6ILN8",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 60,
        "wires": [
            [
                "sd_i4yRXJZS2T9A1RlP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_vUT2j3bMO1263zUB",
        "type": "PageStart",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addShift",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "flagTosay",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "itemIndex",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addShift",
        "category": "General",
        "x": 665,
        "y": 180,
        "wires": [
            [
                "sd_2othEyyjbbxzEA6u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_2othEyyjbbxzEA6u",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "add or delete",
        "script": "if (bh.input.flagTosay) {\n    page.tableData.data.push({\n        shift: \"\",\n        from: '',\n        to: \"\",\n        symbol: '',\n        allowoverwrite: '',\n        priority: '',\n        enableDisable: ''\n    })\n} else {\n    page.tableData.data.splice(bh.input.itemIndex, 1);\n}\npage.tableData = new MatTableDataSource(page.tableData.data)\n\n",
        "functionName": "addOrDelete",
        "category": "Function",
        "x": 785,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_MqXuLVd4MNC2iAOR",
        "type": "PageStart",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "saveData",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "saveData",
        "category": "General",
        "x": 65,
        "y": 540,
        "wires": [
            [
                "sd_jZLELgAvHLwrM0X8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_JtOfvzj3GFZuVAUa",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "log api trigger",
        "script": "console.log(\"trigger api here\")",
        "functionName": "logApiTrigger",
        "category": "Function",
        "x": 305,
        "y": 540,
        "wires": [
            [
                "sd_BxsguEd5oMUrONe2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_3cBFZfZFwqJIDcWv",
        "type": "PageStart",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "editUser",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "itemIndex",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "editUser",
        "category": "General",
        "x": 65,
        "y": 900,
        "wires": [
            [
                "sd_6sRWx63OYzxvcr18"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_xN4xTy1Ijgwqc8pT",
        "type": "PageStart",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addRoles",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addRoles",
        "category": "General",
        "x": 665,
        "y": 420,
        "wires": [
            [
                "sd_YQV4l3DrkqFvFAi0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_YQV4l3DrkqFvFAi0",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "add use",
        "script": "    page.tableData1.data.push({ \n         roleName: \"\", min: '', max: \"\", dailyLimit: '',supervisorName:''\n    })\n\n    page.tableData1 = new MatTableDataSource(page.tableData1.data)\n\n",
        "functionName": "addUse",
        "category": "Function",
        "x": 785,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_2BNGDmf3ZSDyybCJ",
        "type": "Navigation",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/web/editUser",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "bh.input",
            "value": "qp"
        },
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_2BNGDmf3ZSDyybCJ",
        "category": "Navigation",
        "x": 305,
        "y": 900,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_6vrhkZy0SYOFYWx8",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.url = bh.local.ssdBaseUrl + '/admin/alloc/role';\n// bh.local.url = 'https://bs-1394717.el.r.appspot.com/api/casemanager/config/get';\n\nbh.local.typeRolesBody = {\n    \"query\": {\n        \"type\": \"roles\"\n    }\n}",
        "functionName": "sd_6vrhkZy0SYOFYWx8",
        "category": "Function",
        "x": 305,
        "y": 180,
        "wires": [
            [
                "sd_5JvOgeIE0vNYdAUD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XwomadQv5Vlx8r74",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// if (bh.local.resultData?.length > 0) {\n//     page.tableData1 = new MatTableDataSource(bh.local.resultData[0].data);\n// }\npage.tableData1 = new MatTableDataSource(bh.local.resultData);\n",
        "functionName": "sd_XwomadQv5Vlx8r74",
        "category": "Function",
        "x": 545,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RkUlF8KB4yQhTxOo",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.local.url = 'https://bs-1394717.el.r.appspot.com/api/casemanager/config/add';\nbh.local.url = bh.local.ssdBaseUrl + '/admin/alloc/role';\n\nbh.local.body = {\n  roleAllocConfig: page.tableData1.data\n}\n\nconsole.log(bh.local.body)",
        "functionName": "sd_RkUlF8KB4yQhTxOo",
        "category": "Function",
        "x": 305,
        "y": 660,
        "wires": [
            [
                "sd_TSSJJQdI1kRDpXND"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TSSJJQdI1kRDpXND",
        "type": "HttpRequest",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.local.body",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.local.res",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_TSSJJQdI1kRDpXND",
        "category": "HTTP",
        "x": 425,
        "y": 660,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vRBQlvnkuT9cNP48",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.local.url = bh.local.ssdBaseUrl + '/casemanager/config/add';\nbh.local.url = 'https://bs-1394717.el.r.appspot.com/api/casemanager/config/add';\n\nbh.local.typeShiftsBody = {\n  query: {\n    type: \"shifts\"\n  },\n  document: {\n    data: page.tableData.data\n  }\n}",
        "functionName": "sd_vRBQlvnkuT9cNP48",
        "category": "Function",
        "x": 185,
        "y": 780,
        "wires": [
            [
                "sd_lLMSF9HLuhdEPwH3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_lLMSF9HLuhdEPwH3",
        "type": "HttpRequest",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.local.typeShiftsBody",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "typeShiftsBody"
        },
        "resultMapping": "bh.local.b",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "b"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_lLMSF9HLuhdEPwH3",
        "category": "HTTP",
        "x": 305,
        "y": 780,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_LgXK0xfg48xLh3Hh",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.local.url = bh.local.ssdBaseUrl + '/casemanager/config/get';\nbh.local.url = 'https://bs-1394717.el.r.appspot.com/api/casemanager/config/get';\nbh.local.typeShiftsBody = {\n    \"query\": {\n        \"type\": \"shifts\"\n    }\n}",
        "functionName": "sd_LgXK0xfg48xLh3Hh",
        "category": "Function",
        "x": 305,
        "y": 420,
        "wires": [
            [
                "sd_otqEx0Gj0yCmCVpF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sTurNJHxboMW5ouf",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (bh.local.shifts?.length > 0) {\n    page.tableData = new MatTableDataSource(bh.local.shifts[0].data);\n}\n",
        "functionName": "sd_sTurNJHxboMW5ouf",
        "category": "Function",
        "x": 545,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6sRWx63OYzxvcr18",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let data = page.tableData1?.data[bh.input.itemIndex];\nbh.input.qp = {\n    role: data.role\n}\nconsole.log(data)",
        "functionName": "sd_6sRWx63OYzxvcr18",
        "category": "Function",
        "x": 185,
        "y": 900,
        "wires": [
            [
                "sd_2BNGDmf3ZSDyybCJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_orhpTJ0KLxg9ErUY",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.rules = [\n    \"FIFO\",\n    \"Round Robin\"\n]\n\npage.displayedColumns = [\"shift\", \"from\", \"to\", \"rule\", \"allowoverwrite\", \"priority\", \"enableDisable\", \"actions\"];\npage.displayedColumns1 = [\"roleName\", \"min\", \"max\", \"dailyLimit\", \"supervisorName\", \"actions\"/* , \"act\" */, \"overrideAuthority\"];\n\n\n",
        "functionName": "sd_orhpTJ0KLxg9ErUY",
        "category": "Function",
        "x": 305,
        "y": 60,
        "wires": [
            [
                "sd_b6HZM5iUSrAJOmrE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jZLELgAvHLwrM0X8",
        "type": "Environment",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "ssdBaseUrl"
                },
                "envProperty": "ssdBaseUrl"
            }
        ],
        "functionName": "sd_jZLELgAvHLwrM0X8",
        "category": "General",
        "x": 185,
        "y": 540,
        "wires": [
            [
                "sd_JtOfvzj3GFZuVAUa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_otqEx0Gj0yCmCVpF",
        "type": "HttpRequest",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.local.typeShiftsBody",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "typeShiftsBody"
        },
        "resultMapping": "bh.local.shifts",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "shifts"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_otqEx0Gj0yCmCVpF",
        "category": "HTTP",
        "x": 425,
        "y": 420,
        "wires": [
            [
                "sd_sTurNJHxboMW5ouf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5JvOgeIE0vNYdAUD",
        "type": "HttpRequest",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.resultData",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "resultData"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_5JvOgeIE0vNYdAUD",
        "category": "HTTP",
        "x": 425,
        "y": 180,
        "wires": [
            [
                "sd_XwomadQv5Vlx8r74"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_BxsguEd5oMUrONe2",
        "type": "PageAsync",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "flowNodes": [
            {
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "flowId": "sd_AiC4WTpHejwsrmYj",
                "functionName": "saveRoles",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "viewType": "pages",
                "relativePath": "./manageUsers"
            },
            {
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "flowId": "sd_8bnMuDjGH4bVhVzp",
                "functionName": "saveShifts",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "viewType": "pages",
                "relativePath": "./manageUsers"
            }
        ],
        "_flowNodes": [
            {
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "flowId": "sd_AiC4WTpHejwsrmYj",
                "functionName": "saveRoles",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "viewType": "pages",
                "relativePath": "./manageUsers"
            },
            {
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "flowId": "sd_8bnMuDjGH4bVhVzp",
                "functionName": "saveShifts",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "viewType": "pages",
                "relativePath": "./manageUsers"
            }
        ],
        "resultMapping": "bh.local.res",
        "accept_csd": false,
        "isValidNode": true,
        "functionName": "sd_BxsguEd5oMUrONe2",
        "category": "Function",
        "x": 425,
        "y": 540,
        "wires": [
            [
                "sd_TYdHmKSvtmZ8rKa6"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "res",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_AiC4WTpHejwsrmYj",
        "type": "PageStart",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "save roles",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "saveRoles",
        "category": "General",
        "x": 65,
        "y": 660,
        "wires": [
            [
                "sd_xtlpGSk1kCyXk047"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_8bnMuDjGH4bVhVzp",
        "type": "PageStart",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "save shifts",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "saveShifts",
        "category": "General",
        "x": 65,
        "y": 780,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_TYdHmKSvtmZ8rKa6",
        "type": "SnackBar",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "this.page",
            "value": "locales.keys.rnsSavedSuccessMsg"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2500"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_TYdHmKSvtmZ8rKa6",
        "category": "General",
        "x": 545,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_P7JVRtjP1czvaaXk",
        "type": "PageStart",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get roles",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getRoles",
        "category": "General",
        "x": 65,
        "y": 180,
        "wires": [
            [
                "sd_kdqgeSB5atCwcwsr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_CWTFeVYKnr5WXPVV",
        "type": "PageStart",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get shifts",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getShifts",
        "category": "General",
        "x": 65,
        "y": 420,
        "wires": [
            [
                "sd_NSTvma6LDSP0hfLu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_b6HZM5iUSrAJOmrE",
        "type": "PageAsync",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "flowNodes": [
            {
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "flowId": "sd_P7JVRtjP1czvaaXk",
                "functionName": "getRoles",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "viewType": "pages",
                "relativePath": "./manageUsers"
            },
            {
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "flowId": "sd_CWTFeVYKnr5WXPVV",
                "functionName": "getShifts",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "viewType": "pages",
                "relativePath": "./manageUsers"
            },
            {
                "id": "sd_KjIVtil6LfWfYSEc",
                "type": "PageStart",
                "z": "sd_VSkmwzz0p1aIJBgp",
                "viewType": "pages",
                "nodeType": "start",
                "name": "get supervisors",
                "outputs": 1,
                "inputVariables": [],
                "localVariables": [
                    {
                        "key": "supervisors",
                        "defaultValue": {
                            "type": "any",
                            "value": "[]"
                        },
                        "output": false
                    }
                ],
                "flow_type": "sync",
                "functionName": "getSupervisors",
                "category": "General",
                "x": 65,
                "y": 300,
                "wires": [
                    [
                        "sd_pDhIVFBVFPXvvnNH"
                    ]
                ],
                "__n_excludedFromValidation__": {},
                "_imported_service_designer_type": "pages",
                "editorTabConfigType": "pages",
                "flowId": "sd_KjIVtil6LfWfYSEc",
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "accept_bh": false,
                "inputParams": [],
                "relativePath": "./manageUsers"
            }
        ],
        "_flowNodes": [
            {
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "flowId": "sd_P7JVRtjP1czvaaXk",
                "functionName": "getRoles",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "viewType": "pages",
                "relativePath": "./manageUsers"
            },
            {
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "flowId": "sd_CWTFeVYKnr5WXPVV",
                "functionName": "getShifts",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "viewType": "pages",
                "relativePath": "./manageUsers"
            },
            {
                "id": "sd_KjIVtil6LfWfYSEc",
                "type": "PageStart",
                "z": "sd_VSkmwzz0p1aIJBgp",
                "viewType": "pages",
                "nodeType": "start",
                "name": "get supervisors",
                "outputs": 1,
                "inputVariables": [],
                "localVariables": [
                    {
                        "key": "supervisors",
                        "defaultValue": {
                            "type": "any",
                            "value": "[]"
                        },
                        "output": false
                    }
                ],
                "flow_type": "sync",
                "functionName": "getSupervisors",
                "category": "General",
                "x": 65,
                "y": 300,
                "wires": [
                    [
                        "sd_pDhIVFBVFPXvvnNH"
                    ]
                ],
                "__n_excludedFromValidation__": {},
                "_imported_service_designer_type": "pages",
                "editorTabConfigType": "pages",
                "flowId": "sd_KjIVtil6LfWfYSEc",
                "serviceId": "sd_VSkmwzz0p1aIJBgp",
                "serviceName": "adminSettings",
                "accept_bh": false,
                "inputParams": [],
                "relativePath": "./manageUsers"
            }
        ],
        "resultMapping": "bh.local.res",
        "accept_csd": false,
        "isValidNode": true,
        "functionName": "sd_b6HZM5iUSrAJOmrE",
        "category": "Function",
        "x": 425,
        "y": 60,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "res",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_i4yRXJZS2T9A1RlP",
        "type": "UseDependency",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "mat table data source",
        "inputs": 1,
        "outputs": 1,
        "property": "hb",
        "propertyType": "this.page",
        "propertyGv": "this.page.hb",
        "alias": "hb",
        "modules": [
            {
                "textIp": "MatTableDataSource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/table",
        "serviceDesignerType": "pages",
        "functionName": "matTableDataSource",
        "category": "Function",
        "x": 185,
        "y": 60,
        "wires": [
            [
                "sd_orhpTJ0KLxg9ErUY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_kdqgeSB5atCwcwsr",
        "type": "Environment",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "ssdBaseUrl"
                },
                "envProperty": "ssdBaseUrl"
            }
        ],
        "functionName": "sd_kdqgeSB5atCwcwsr",
        "category": "General",
        "x": 185,
        "y": 180,
        "wires": [
            [
                "sd_6vrhkZy0SYOFYWx8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NSTvma6LDSP0hfLu",
        "type": "Environment",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "ssdBaseUrl"
                },
                "envProperty": "ssdBaseUrl"
            }
        ],
        "functionName": "sd_NSTvma6LDSP0hfLu",
        "category": "General",
        "x": 185,
        "y": 420,
        "wires": [
            [
                "sd_LgXK0xfg48xLh3Hh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_xtlpGSk1kCyXk047",
        "type": "Environment",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "ssdBaseUrl"
                },
                "envProperty": "ssdBaseUrl"
            }
        ],
        "functionName": "sd_xtlpGSk1kCyXk047",
        "category": "General",
        "x": 185,
        "y": 660,
        "wires": [
            [
                "sd_RkUlF8KB4yQhTxOo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KjIVtil6LfWfYSEc",
        "type": "PageStart",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get supervisors",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [
            {
                "key": "supervisors",
                "defaultValue": {
                    "type": "any",
                    "value": "[]"
                },
                "output": false
            }
        ],
        "flow_type": "sync",
        "functionName": "getSupervisors",
        "category": "General",
        "x": 65,
        "y": 300,
        "wires": [
            [
                "sd_pDhIVFBVFPXvvnNH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "manageUsersComponent"
    },
    {
        "id": "sd_pDhIVFBVFPXvvnNH",
        "type": "Environment",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "ssdBaseUrl"
                },
                "envProperty": "ssdBaseUrl"
            }
        ],
        "functionName": "sd_pDhIVFBVFPXvvnNH",
        "category": "General",
        "x": 185,
        "y": 300,
        "wires": [
            [
                "sd_rHFmboyuLLLZTqWm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rHFmboyuLLLZTqWm",
        "type": "Script",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.url = bh.local.ssdBaseUrl + '/admin/user/SUPERVISOR';",
        "functionName": "sd_rHFmboyuLLLZTqWm",
        "category": "Function",
        "x": 305,
        "y": 300,
        "wires": [
            [
                "sd_c8Lu3G0KwphPPaPV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_c8Lu3G0KwphPPaPV",
        "type": "HttpRequest",
        "z": "sd_VSkmwzz0p1aIJBgp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.superVisors",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "superVisors"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_c8Lu3G0KwphPPaPV",
        "category": "HTTP",
        "x": 425,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
