designs/services/appSettings.json
[
    {
        "id": "sd_tSoBS3t3cHJzNlhG",
        "type": "tab",
        "createdDate": "2022-05-06T12:38:31.127Z",
        "label": "appSettings",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "appSettings",
        "relativeParentPath": ""
    },
    {
        "id": "sd_d4sJJODMJiqSFJcj",
        "type": "Start",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "get App settings",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [
            {
                "key": "appSettings",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "getAppSettings",
        "category": "General",
        "x": 65,
        "y": 60,
        "wires": [
            [
                "sd_XE2yQhIoJqYT4gtQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "appSettings"
    },
    {
        "id": "sd_NpWiQUnuyhVFcZaF",
        "type": "HttpRequest",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "request UI settings",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.appSettings",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "appSettings"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "requestUISettings",
        "category": "HTTP",
        "x": 385,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "appSettings"
    },
    {
        "id": "sd_XE2yQhIoJqYT4gtQ",
        "type": "Script",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "prepare request",
        "script": "bh.local.url = bh.system.environment.properties.ssdBaseUrl + '/app-settings'",
        "functionName": "prepareRequest",
        "category": "Function",
        "x": 225,
        "y": 60,
        "wires": [
            [
                "sd_NpWiQUnuyhVFcZaF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "appSettings"
    },
    {
        "id": "sd_CXfXfMy8Y80VU8Gr",
        "type": "Start",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "change app UI colors",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "uiSettings",
                "defaultValue": {
                    "type": "any",
                    "value": "{}"
                },
                "output": false
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "changeAppUIColors",
        "category": "General",
        "x": 70,
        "y": 420,
        "wires": [
            [
                "sd_BOZTixzXCZeZW3Lq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "appSettings"
    },
    {
        "id": "sd_BOZTixzXCZeZW3Lq",
        "type": "Script",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const root = document.documentElement;\nconst hexcolor = bh.input.uiSettings.primaryColor;\nif (hexcolor) {\n    const hexcolorWithTransparency = hexcolor.padEnd(9, 'ff');\n    const hp = hexcolor.substr(1)\n    // https://24ways.org/2010/calculating-color-contrast/\n    root.style.setProperty('--primary-color', hexcolorWithTransparency);\n    const r = parseInt(hp.substr(0, 2), 16);\n    const g = parseInt(hp.substr(2, 2), 16);\n    const b = parseInt(hp.substr(4, 2), 16);\n    const yiq = (r * 299 + g * 587 + b * 114) / 1000;\n    const textColor = yiq >= 128 ? 'black' : 'white';\n    // root.style.setProperty('--white-text-color', textColor);\n    const primeryTLColor = hexcolorWithTransparency.slice(0, -2) + '1b';\n    root.style.setProperty('--primary-translucent-color', primeryTLColor);\n}\n",
        "functionName": "sd_BOZTixzXCZeZW3Lq",
        "category": "Function",
        "x": 225,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_JmaxNlsLJrcwYCja",
        "type": "Start",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "save App settings",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "appSettings",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "saveAppSettings",
        "category": "General",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "sd_mP2bRgYZAULfT5KC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "appSettings"
    },
    {
        "id": "sd_mP2bRgYZAULfT5KC",
        "type": "Script",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "prepare save request",
        "script": "bh.local.url = bh.system.environment.properties.ssdBaseUrl + '/admin/app-settings'\n\nbh.local.body = {\n    appSettings: bh.input.appSettings\n}",
        "functionName": "prepareSaveRequest",
        "category": "Function",
        "x": 205,
        "y": 180,
        "wires": [
            [
                "sd_qgxxHeZc9tLKxMmu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qgxxHeZc9tLKxMmu",
        "type": "HttpRequest",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "req save UI settings",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.local.body",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.local.r",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "r"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "reqSaveUISettings",
        "category": "HTTP",
        "x": 345,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qLJcPNs1JnngMeBD",
        "type": "Start",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "save App logo",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "f",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "saveAppLogo",
        "category": "General",
        "x": 70,
        "y": 300,
        "wires": [
            [
                "sd_taaxcoWRFAQtw9vh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "appSettings"
    },
    {
        "id": "sd_4aP7UxZcYeai4xW4",
        "type": "Script",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "prepare upload logo request",
        "script": "bh.local.url = bh.system.environment.properties.ssdBaseUrl + '/admin/app-settings/logo'\n\nconst form = new FormData()\n\nform.append('logo1', bh.input.f)\n\nbh.local.body = form",
        "functionName": "prepareUploadLogoRequest",
        "category": "Function",
        "x": 345,
        "y": 300,
        "wires": [
            [
                "sd_PargDBIRxBD11k73"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_PargDBIRxBD11k73",
        "type": "HttpRequest",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "req upload logo",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.url",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.local.body",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.local.r",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "r"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "reqUploadLogo",
        "category": "HTTP",
        "x": 525,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_taaxcoWRFAQtw9vh",
        "type": "Switch",
        "z": "sd_tSoBS3t3cHJzNlhG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "f",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.f",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_taaxcoWRFAQtw9vh",
        "category": "Function",
        "x": 205,
        "y": 300,
        "wires": [
            [
                "sd_4aP7UxZcYeai4xW4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
