designs/services/caseService.json
[
    {
        "id": "sd_jkXaNKtzX8iSR5cy",
        "type": "tab",
        "createdDate": "2022-03-25T10:09:01.250Z",
        "label": "caseService",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "caseService",
        "relativeParentPath": ""
    },
    {
        "id": "sd_er60ubsmAmc1cnmx",
        "type": "Start",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "get case docs for caseId",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "caseId",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "getCaseDocsForCaseId",
        "category": "General",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "sd_z5w6xelNqSHxtrb2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "caseService"
    },
    {
        "id": "sd_XxEMJzm40WyyzLEO",
        "type": "HttpRequest",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get email template",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getEmailTemplate",
        "category": "HTTP",
        "x": 425,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "caseService"
    },
    {
        "id": "sd_z5w6xelNqSHxtrb2",
        "type": "Script",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "template url",
        "script": "bh.url = `${bh.system.environment.properties.ssdBaseUrl}/case/docs/${bh.input.caseId}`;",
        "functionName": "templateUrl",
        "category": "Function",
        "x": 265,
        "y": 180,
        "wires": [
            [
                "sd_XxEMJzm40WyyzLEO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "caseService"
    },
    {
        "id": "sd_fNkNrQ5dznJ3YiTE",
        "type": "Start",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "get case docs file",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "docId",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "getCaseDocsFile",
        "category": "General",
        "x": 125,
        "y": 300,
        "wires": [
            [
                "sd_7g57mDYxhTv4dHYa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "caseService"
    },
    {
        "id": "sd_Ilda7MPIUAZykQU3",
        "type": "HttpRequest",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get document buffer",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "arraybuffer",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getDocumentBuffer",
        "category": "HTTP",
        "x": 425,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7g57mDYxhTv4dHYa",
        "type": "Script",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "template url 1",
        "script": "bh.url = `${bh.system.environment.properties.ssdBaseUrl}/case/file/${bh.input.docId}`;",
        "functionName": "templateUrl1",
        "category": "Function",
        "x": 265,
        "y": 300,
        "wires": [
            [
                "sd_Ilda7MPIUAZykQU3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_EP66Fkz1KfGyPWrz",
        "type": "Start",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "get case docs for result",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "idpFileId",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "idpAnlData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "getCaseDocsForResult",
        "category": "General",
        "x": 125,
        "y": 420,
        "wires": [
            [
                "sd_0VNRguKcdP9YS75x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "caseService"
    },
    {
        "id": "sd_Z4aVdQ7EWscvBALt",
        "type": "HttpRequest",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get document result",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.idpAnlData",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "idpAnlData"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getDocumentResult",
        "category": "HTTP",
        "x": 425,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_0VNRguKcdP9YS75x",
        "type": "Script",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "template url 2",
        "script": "bh.url = `${bh.system.environment.properties.ssdBaseUrl}/case/docs/result/${bh.input.idpFileId}`;",
        "functionName": "templateUrl2",
        "category": "Function",
        "x": 265,
        "y": 420,
        "wires": [
            [
                "sd_Z4aVdQ7EWscvBALt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_07rYo4tv0AiwnKlF",
        "type": "HttpRequest",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "local.result"
        },
        "headers": {
            "hide-spinner": "true"
        },
        "headersObj": [
            {
                "key": "hide-spinner",
                "defaultValue": "true"
            }
        ],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_07rYo4tv0AiwnKlF",
        "category": "HTTP",
        "x": 425,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TzVHliGMvhQ6uDCA",
        "type": "Script",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = `${bh.system.environment.properties.ssdBaseUrl}/wq/addAdditionalCaseFields`;\n\n// bh.body = {\n//     comment: bh.input.comment,\n//     user: bh.system.currentUser.username\n// }\n\nbh.body = bh.input.payload",
        "functionName": "sd_TzVHliGMvhQ6uDCA",
        "category": "Function",
        "x": 325,
        "y": 580,
        "wires": [
            [
                "sd_07rYo4tv0AiwnKlF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_AVPrg6ObblCqKj23",
        "type": "Start",
        "z": "sd_jkXaNKtzX8iSR5cy",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "addnewpayload",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "payload",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "addnewpayload",
        "category": "General",
        "x": 125,
        "y": 560,
        "wires": [
            [
                "sd_TzVHliGMvhQ6uDCA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "caseService"
    }
]
