designs/pages/case_details/investigation_detials.json
[
    {
        "id": "sd_S9KP7NpB84cUrDLP",
        "type": "tab",
        "createdDate": "2022-07-20T13:59:59.724Z",
        "label": "investigation_detials",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "investigation_detialsComponent"
    },
    {
        "id": "sd_zkqCclTlykd5F2D5",
        "type": "OnInit",
        "z": "sd_S9KP7NpB84cUrDLP",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [
            {
                "key": "investigation",
                "defaultValue": {
                    "type": "any",
                    "value": "{}"
                }
            },
            {
                "key": "typeOfInvestigation",
                "defaultValue": {
                    "type": "any",
                    "value": "\"\""
                }
            }
        ],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_zkqCclTlykd5F2D5",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 100,
        "wires": [
            [
                "sd_d8FQlex2QKSG6DpM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "investigation_detialsComponent"
    },
    {
        "id": "sd_d8FQlex2QKSG6DpM",
        "type": "Script",
        "z": "sd_S9KP7NpB84cUrDLP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.claimantsEmailId = ''\npage.claimantsPhoneNumber = ''\npage.claimantsName = ''\n\n\nlet caseClaimantObj:any = sessionStorage.getItem('caseClaimantObj')\n\nif(caseClaimantObj){\n caseClaimantObj =    JSON.parse(caseClaimantObj)\n page.claimantsEmailId  = caseClaimantObj.claimantsEmailId\npage.claimantsPhoneNumber = caseClaimantObj.claimantsPhoneNumber\npage.claimantsName = caseClaimantObj.claimantsName\n}\n",
        "functionName": "sd_d8FQlex2QKSG6DpM",
        "category": "Function",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "investigation_detialsComponent"
    },
    {
        "id": "sd_5uus65ZsLjA0AFiL",
        "type": "PageStart",
        "z": "sd_S9KP7NpB84cUrDLP",
        "viewType": "pages",
        "nodeType": "start",
        "name": "title case",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "text",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "title_case",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "flow_type": "sync",
        "functionName": "titleCase",
        "category": "General",
        "x": 123,
        "y": 209.8000030517578,
        "wires": [
            [
                "sd_VIDY3b15lZokvIvs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "investigation_detialsComponent"
    },
    {
        "id": "sd_VIDY3b15lZokvIvs",
        "type": "Script",
        "z": "sd_S9KP7NpB84cUrDLP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nconst result = bh.input.text.replace(/([A-Z])/g, \" $1\");\nbh.local.title_case = result.charAt(0).toUpperCase() + result.slice(1);",
        "functionName": "sd_VIDY3b15lZokvIvs",
        "category": "Function",
        "x": 263,
        "y": 209.8000030517578,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Ecp0u2AvM6PNIYGt",
        "type": "PageStart",
        "z": "sd_S9KP7NpB84cUrDLP",
        "viewType": "pages",
        "nodeType": "start",
        "name": "claimantChanges",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "claimantChanges",
        "category": "General",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "sd_BfI863Vx0Dm6W2XE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "investigation_detialsComponent"
    },
    {
        "id": "sd_BfI863Vx0Dm6W2XE",
        "type": "Script",
        "z": "sd_S9KP7NpB84cUrDLP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(this.page)\nlet claimantObj = {\n    \"claimantsEmailId\": this.page.claimantsEmailId,\n\"claimantsName\": this.page.claimantsName,\n\"claimantsPhoneNumber\": this.page.claimantsPhoneNumber\n}\nsessionStorage.setItem('claimantObj',JSON.stringify(claimantObj))\n\nbh.local.payload = {\n    'pid': sessionStorage.getItem('pid'),\n    'claimantObj' :claimantObj\n}\n",
        "functionName": "sd_BfI863Vx0Dm6W2XE",
        "category": "Function",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "sd_WQqDwGrIhgdjhb7c"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WQqDwGrIhgdjhb7c",
        "type": "PageCallService",
        "z": "sd_S9KP7NpB84cUrDLP",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_jkXaNKtzX8iSR5cy",
            "type": "tab",
            "createdDate": "2022-03-25T10:09:01.250Z",
            "label": "caseService",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_AVPrg6ObblCqKj23",
            "flowName": "addnewpayload"
        },
        "inputVariables": [
            {
                "key": "payload",
                "map": true,
                "valueType": "bh.local",
                "value": "payload"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/caseService",
        "startName": "addnewpayload",
        "inputParams": [
            "bh.local.payload"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_WQqDwGrIhgdjhb7c",
        "category": "General",
        "x": 400,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tw9QI2PM48wtrJ6C",
        "type": "OnDestroy",
        "z": "sd_S9KP7NpB84cUrDLP",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_tw9QI2PM48wtrJ6C",
        "category": "Lifecycle Events",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "sd_lsV75gq1Pcz6OOCX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "investigation_detialsComponent"
    },
    {
        "id": "sd_lsV75gq1Pcz6OOCX",
        "type": "Script",
        "z": "sd_S9KP7NpB84cUrDLP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.removeItem('claimantObj')",
        "functionName": "sd_lsV75gq1Pcz6OOCX",
        "category": "Function",
        "x": 300,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
