designs/pages/views/create_finfo.json
[
    {
        "id": "sd_f9hp7wkgxLR4aMRg",
        "type": "tab",
        "createdDate": "2022-03-23T07:32:02.982Z",
        "label": "create_finfo",
        "disabled": false,
        "info": "",
        "functionSeq": 2,
        "generateNext": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_E091KmywTzywOEEF",
        "type": "OnInit",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_E091KmywTzywOEEF",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 120,
        "wires": [
            [
                "sd_gABXnZcElS28WeNy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_gABXnZcElS28WeNy",
        "type": "PageVariables",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_gABXnZcElS28WeNy",
        "category": "Function",
        "x": 205,
        "y": 120,
        "wires": [
            [
                "sd_NQaS79KxcwbBJYo1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_NQaS79KxcwbBJYo1",
        "type": "PageServiceVariables",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "checkedOut",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "checkedOut"
                }
            }
        ],
        "functionName": "sd_NQaS79KxcwbBJYo1",
        "service": {
            "id": "sd_RbD2RZwzan9VSOEL",
            "type": "tab",
            "createdDate": "2022-03-10T07:40:30.532Z",
            "label": "cache",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "generateNext": true,
            "serviceName": "cache",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/cache",
        "category": "Function",
        "x": 345,
        "y": 120,
        "wires": [
            [
                "sd_bf6tU9RulcwGytkX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_JQ2FTXeD5n5w7tQe",
        "type": "HttpRequest",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.getFinfoConfigURL",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "getFinfoConfigURL"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.finfoConfig",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "finfoConfig"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_JQ2FTXeD5n5w7tQe",
        "category": "HTTP",
        "x": 665,
        "y": 120,
        "wires": [
            [
                "sd_JvrGQNUWWgWdhpwL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_bf6tU9RulcwGytkX",
        "type": "Script",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.finfoTable =  new MatTableDataSource();\nthis.page.selection = new SelectionModel(true, []);\nbh.local.getFinfoConfigURL = `${page.system.environment.properties.ssdBaseUrl}/uiconfig/finfo-requirements`;",
        "functionName": "sd_bf6tU9RulcwGytkX",
        "category": "Function",
        "x": 505,
        "y": 120,
        "wires": [
            [
                "sd_JQ2FTXeD5n5w7tQe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_9Um8PofRiPkL3IFw",
        "type": "ViewPicker",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "MatSort",
                "isViewChildren": false
            },
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "MatPaginator",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_1",
        "category": "Function",
        "x": 245,
        "y": 380,
        "wires": [
            [
                "sd_DrcgkgUwwNFoylgW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_DrcgkgUwwNFoylgW",
        "type": "Script",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.finfoTable.sort = this.MatSort;\nthis.page.finfoTable.paginator = this.MatPaginator;",
        "functionName": "sd_2VNGqvcKee34lvOz_1",
        "category": "Function",
        "x": 385,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_JvrGQNUWWgWdhpwL",
        "type": "Script",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.finfoTable.data =  bh.local.finfoConfig\n",
        "functionName": "sd_JvrGQNUWWgWdhpwL",
        "category": "Function",
        "x": 405,
        "y": 240,
        "wires": [
            [
                "sd_CAPJ01gYmNpJvVST"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qaK9jFUIrrSj1V1h",
        "type": "PageStart",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "checkboxLabel",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "checkboxLabel",
        "category": "General",
        "x": 105,
        "y": 640,
        "wires": [
            [
                "sd_zFBrteJFBxQW9Stz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_zFBrteJFBxQW9Stz",
        "type": "Script",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (!bh.input.row) {\n  return `${this.isAllSelected() ? 'deselect' : 'select'} all`;\n}\nreturn `${this.page.selection.isSelected(bh.input.row) ? 'deselect' : 'select'} row ${bh.input.row.position + 1}`;\n",
        "functionName": "sd_zFBrteJFBxQW9Stz",
        "category": "Function",
        "x": 385,
        "y": 640,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HdDr5lhodTuC5wzz",
        "type": "PageStart",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "isAllSelected",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "isAllSelected",
        "category": "General",
        "x": 105,
        "y": 520,
        "wires": [
            [
                "sd_Srs7nsThBJn2agV9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_Srs7nsThBJn2agV9",
        "type": "Script",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const numSelected = this.page.selection.selected.length;\nconst numRows = this.page.finfoTable.data.length;\nreturn numSelected === numRows;",
        "functionName": "sd_Srs7nsThBJn2agV9",
        "category": "Function",
        "x": 380,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CAPJ01gYmNpJvVST",
        "type": "UseDependency",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "SelectionModel",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/cdk/collections",
        "serviceDesignerType": "pages",
        "functionName": "sd_CAPJ01gYmNpJvVST",
        "category": "Function",
        "x": 565,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_spE3bI62z9CBOgFD",
        "type": "PageStart",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "masterToggle",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "masterToggle",
        "category": "General",
        "x": 105,
        "y": 760,
        "wires": [
            [
                "sd_tcHdtQlNYC8cr3tR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_tcHdtQlNYC8cr3tR",
        "type": "Script",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (this.isAllSelected()) {\n    this.page.selection.clear();\n    return;\n}\n\nthis.page.selection.select(...this.page.finfoTable.data);",
        "functionName": "sd_tcHdtQlNYC8cr3tR",
        "category": "Function",
        "x": 385,
        "y": 760,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XI7fqUAR7uxbvfZT",
        "type": "PageStart",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 105,
        "y": 1020,
        "wires": [
            [
                "sd_KInTQbMevu44NkF0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_YGrOjZ0aimTB5HFp",
        "type": "AfterViewInit",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 380,
        "wires": [
            [
                "sd_9Um8PofRiPkL3IFw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_Re5DvkwL9w526LzA",
        "type": "PageStart",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Apply Filter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "applyFilter",
        "category": "General",
        "x": 105,
        "y": 900,
        "wires": [
            [
                "sd_6n6dGZwJ2nko4znq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "create_finfoComponent"
    },
    {
        "id": "sd_6n6dGZwJ2nko4znq",
        "type": "Script",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const filterValue = (bh.input.event.target as HTMLInputElement).value;\nthis.page.finfoTable.filter = filterValue.trim().toLowerCase();",
        "functionName": "sd_6n6dGZwJ2nko4znq",
        "category": "Function",
        "x": 385,
        "y": 900,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KInTQbMevu44NkF0",
        "type": "Script",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let finfo: any = {\n    caseId: page.checkedOut.case['_id'],\n    pid: page.checkedOut.task['pid'],\n    date: new Date(),\n    author: {\n        name: page.system.oauthService.userInfo.displayName,\n        accountId: page.system.oauthService.userInfo.username\n    }\n};\n\nif (page.comment) {\n    finfo['comments'] = page.comment;\n}\n\nif (page.selection.selected) {\n    finfo.requirements = [];\n    for (let item of page.selection.selected) {\n        finfo.requirements.push(item);\n    }\n    finfo['status'] = 'pending';\n}\n\nbh.local.newFINFO = finfo;\n\n//HTTP Req\n\n//URL\nbh.local.createURL = `${page.system.environment.properties.ssdBaseUrl}/case/recommendation/finfo`;\n\n//Payload\nbh.local.createPayload = {\n    finfo: finfo,\n    caseData: page.checkedOut.case\n};\n",
        "functionName": "sd_KInTQbMevu44NkF0",
        "category": "Function",
        "x": 285,
        "y": 1020,
        "wires": [
            [
                "sd_ca2DlgyTfvaOYz7O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6089Dajot07c3jxQ",
        "type": "4a14d245-3eca-40a4-550c-2885e99a00e9",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "emit finfo created",
        "eventName": "\"finfo_created\"",
        "functionName": "emitFinfoCreated",
        "category": "Events",
        "x": 1025,
        "y": 1020,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "eventName": {
                "type": "str",
                "value": "finfo_created",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ca2DlgyTfvaOYz7O",
        "type": "HttpRequest",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.local.createURL",
        "urlMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "createURL"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.local.createPayload",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "createPayload"
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_ca2DlgyTfvaOYz7O",
        "category": "HTTP",
        "x": 485,
        "y": 1020,
        "wires": [
            [
                "sd_YXJ04yIba4ipNFCl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_YXJ04yIba4ipNFCl",
        "type": "Script",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (bh.local.result && bh.local.result['docId']) {\n    bh.local.newFINFO['attachments'] = bh.local.result;\n    bh.emailComposeData = {\n        attachments: bh.local.newFINFO.attachments\n    }\n}\n\nbh.local.newFINFO['finfoId'] = bh.local.result.finfoId;\nbh.local.rsnComponent = 'EMAIL_COMPOSE'",
        "functionName": "sd_YXJ04yIba4ipNFCl",
        "category": "Function",
        "x": 645,
        "y": 1020,
        "wires": [
            [
                "sd_RzecpBk6nLsAChZb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RzecpBk6nLsAChZb",
        "type": "PageServiceVariables",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "emailComposerData",
                "typedIpValue": {
                    "type": "bh",
                    "value": "emailComposeData"
                }
            },
            {
                "textIp": "newfinfo",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "newFINFO"
                }
            }
        ],
        "functionName": "sd_RzecpBk6nLsAChZb",
        "service": {
            "id": "sd_RbD2RZwzan9VSOEL",
            "type": "tab",
            "createdDate": "2022-03-10T07:40:30.532Z",
            "label": "cache",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "generateNext": true,
            "serviceName": "cache",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/cache",
        "category": "Function",
        "x": 840,
        "y": 1020,
        "wires": [
            [
                "sd_6089Dajot07c3jxQ",
                "sd_mHTty6YoVHpU7Px8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mHTty6YoVHpU7Px8",
        "type": "4a14d245-3eca-40a4-550c-2885e99a00e9",
        "z": "sd_f9hp7wkgxLR4aMRg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "emit open rsn",
        "eventName": "\"open-rsn\"",
        "functionName": "emitOpenRsn",
        "category": "Events",
        "x": 1005,
        "y": 1140,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "eventName": {
                "type": "str",
                "value": "open-rsn",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
